<h1>QUIZ MAKER</h1>
<section>
  <section class="quiz-filter">
    <select (change)="setCategory(category)" #category id="categorySelect">
      <option value="-1">Select a Category</option>
      <option *ngFor="let cat of listOfCategories" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>

    <select
      (change)="setDifficulty(difficulty)"
      #difficulty
      id="difficultySelect"
    >
      <option value="">Select difficulty</option>
      <option *ngFor="let diff of listOfDifficulty" [value]="diff">
        {{ diff }}
      </option>
    </select>
    <button id="createBtn" (click)="onCreate()">Create</button>
  </section>
  <ng-container *ngIf="selectedQuest.length > 0">
    <section class="quiz-questions-wrapper">
      <div *ngFor="let quiz of selectedQuest" class="quiz-sets">
        <span class="quiz-question" [innerHTML]="quiz.question"></span>
        <div class="quiz-answers">
          <button
            *ngFor="let ans of quiz.quizAns; index as i;"
            [innerHTML]="ans.answer"
            (click)="updateAnswer(quiz, ans, i)"
          ></button>
        </div>
      </div>
    </section>
  </ng-container>
  <section class="quiz-submit">
    <button id="submitBtn" (click)="onSubmit()"> Submit</button>
  </section>
</section>
