.quiz-filter {
  width: 90%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.quiz-filter .quiz-select-category,
.quiz-filter .quiz-select-difficulty {
  min-width: 130px;
  height: 24px;
  border-radius: 5px;
}

.quiz-filter button {
  background-color: #00000087;
  color: white;
  min-width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #00000087;
}
